html, body {
    background-color: rgb(31, 25, 25);
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;
    direction: rtl;
}

:root {
    --control-background-color: rgb(59, 61, 61);
    --border-color: #8b8a8a;
}

.page {
    width: 100%;
    height: 100%;
    position: relative;
}

.intro-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.intro {
    width: 100%;
    height: 200px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.please {
    font-size: 36px;
}

.msg {
    width: 250px;
    height: 40px;
    padding: 0 12px;
    border: var(--border-color) solid 1px;
    border-radius: 4px;
    text-align: start;
    background-color: var(--control-background-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.send-icon {
    margin-inline-start: 8px;
    font-size: 20px;
}

.daylahay-button {
    background-color: var(--control-background-color);
    width: 100px;
    align-self: center;
    border: var(--border-color) solid 1px;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    padding: 0;
    min-height: 36px;
}

.daylahay-button .material-icons {
    margin: 0 6px;
    font-size: 20px;
}

.button-label{
    flex: 1;
    text-align: start;
    margin: 0 6px;
    height: 18px;
    line-height: 14px;
}

.daylahay-button:hover {
    background-color: rgb(66, 65, 65);
}

.daylahay-button:active {
    background-color: lightgrey;
    color: black;
}

.hide {
    transform: translateY(-110%);
    transition: 600ms transform ease-in-out;
}

.why-box {
    position: absolute;
    transform: translateY(110%);
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
}

.show {
    transform: translateY(0px);
    transition: 600ms transform ease-in-out;
}

.why-border {
    height: 90%;
    max-height: 90%;
    max-width: 100%;
    overflow: hidden;
    padding: 6px 2px;
    border: solid var(--border-color) 1px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.why-text {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    padding: 20px;
    scrollbar-width: thin;
    text-align: start;
    direction: ltr;
}

.why-text::-webkit-scrollbar {
    width: 6px;
}

.why-text::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.why-text::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    /* outline: 1px solid slategrey; */
    border-radius: 8px;
}

code {
    white-space: pre-wrap;
}

span.smallcaps {
    font-variant: small-caps;
}

span.underline {
    /* text-decoration: underline; */
}

div.column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

div.hanging-indent {
    margin-left: 1.5em;
    text-indent: -1.5em;
}

ul.task-list {
    list-style: none;
}

.typewrite {
    color: white;
    /* text-decoration: line-through; */
    text-decoration-thickness: 4px;
    height: 18px;
    line-height: 14px;
}